<%= render "shared/header" %>
<div class="question-btn">
  <%= link_to '質問を投稿する', new_question_path %>
</div>
<% @questions.each do |question| %>
  <%= link_to question_path(question.id), class:"question-link" do %>
    <div class="questions">
      <div class="question-title-div">
        <p class="question-headline">質問：</p>
        <p class="question-title"><%= question.title %></p>
      </div>
      <div class="question-main">
        <div class="question-contents">
          <p class="question-headline">投稿者：</p>
          <p class="question-user"><%= question.user.nickname %></p>
        </div>
        <div class="question-contents">
          <p class="question-headline">質問内容：</p>
          <p class="question-content"><%= question.content %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>