<%= render "shared/header" %>
<div class="upper-contents">
  <div class="search-form">
    <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="question-btn">
    <%= link_to '質問を投稿する', new_question_path, class:"question-form-btn" %>
  </div>
</div>
<% @questions.each do |question| %>
  <%= link_to question_path(question.id), class:"question-link" do %>
    <div class="questions">
      <div class="question-title-div">
        <p class="question-headline">質問：</p>
        <p class="question-title"><%= question.title %></p>
      </div>
  <% end %>
      <div class="question-main">
  <%= link_to user_path(question.user.id), class:"nickname-btn" do %>
        <div class="question-contents">
          <p class="question-headline">投稿者：</p>
          <p class="question-user"><%= question.user.nickname %></p>
        </div>
  <% end %>
  <%= link_to question_path(question.id), class:"question-link" do %>
        <div class="question-contents">
          <p class="question-headline">質問内容：</p>
          <p class="question-content"><%= question.content %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>