<%= render "shared/header" %>
<% if user_signed_in? && (@question.user_id == current_user.id) %>
  <div class="btn">
    <%= link_to "編集", edit_question_path(params[:id]), class:"edit-btn" %>
    <%= link_to "削除", question_path(params[:id]), method: :delete, class:"destroy-btn" %>
  </div>
<% end %>
<div class="questions-show">
  <div class="question-title-div-show">
    <p class="question-title-show">質問：<%= @question.title %></p>
    <p class="question-genre-show"><%= @question.genre.name %></p>
  </div>
  <div class="question-main-show">
    <div class="question-contents-show">
      <p class="question-headline-show">投稿者：</p>
      <p class="question-user-show"><%= @question.user.nickname %></p>
    </div>
    <div class="question-contents-show">
      <p class="question-headline-show">質問内容：</p>
      <p class="question-content-show"><%= @question.content %></p>
    </div>
  </div>
</div>

<div class="comment-main">
  <div calss="comment-form">
  <% if user_signed_in? %>
    <%= form_with model: [@question, @comment], local: true do |f| %>
      <%= f.text_area :text, placeholder: "コメントする", rows: "2", class:"text-form" %>
      <%= f.submit "SEND", class:"comment-submit-btn" %>
    <% end %>
  <% else %>
    <strong><p>※コメントの投稿には新規登録/ログインが必要です</p></strong>
  <% end %>
  </div>
  <div class="comments">
    <% @comments.each do |comment| %>
      <p class="comment"><%= comment.user.nickname %>:<%= comment.text%></p>
    <% end %>
  </div>
</div>